<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MemberLogin</servlet-name>
        <jsp-file>/memberLogin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegisterMember</servlet-name>
        <jsp-file>/registerMember.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ILSServlet</servlet-name>
        <servlet-class>servlets.ILSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <jsp-file>/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <jsp-file>/updateProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewFine</servlet-name>
        <jsp-file>/viewFine.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PayFine</servlet-name>
        <jsp-file>/payFine.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewCheckout</servlet-name>
        <jsp-file>/viewCheckout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <jsp-file>/searchBook.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <jsp-file>/viewBook.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewAuthor</servlet-name>
        <jsp-file>/viewAuthor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>/LogoutIndex</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewRequest</servlet-name>
        <jsp-file>/viewRequest.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberLogin</servlet-name>
        <url-pattern>/MemberLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterMember</servlet-name>
        <url-pattern>/RegisterMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ILSServlet</servlet-name>
        <url-pattern>/ils/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFine</servlet-name>
        <url-pattern>/ViewFine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayFine</servlet-name>
        <url-pattern>/PayFine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCheckout</servlet-name>
        <url-pattern>/ViewCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/ViewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAuthor</servlet-name>
        <url-pattern>/ViewAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>/LogoutIndex</servlet-name>
        <url-pattern>/LogoutIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequest</servlet-name>
        <url-pattern>/ViewRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
